@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Barlow Condensed', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Bellefair', sans-serif;
}